.advantages {
  background-color: var(--white-color);
  color: var(--grey-color);
  padding-bottom: 0;

  &__list {
    display: flex;
  }

  &__item {
    width: 270px;
    margin-left: 30px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__container {
    width: 270px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    padding: 25px 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: var(--black-text);
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
}
