.phone {
  visibility: hidden;
  display: none;
}

.section {
  padding: 60px 0;
}

.container {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 738px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .phone {
    display: inline-block;
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .section {
    padding: 94px 0;
    max-width: 1600px;
  }
}

.social-icon-svg {
  --color3: currentColor;
}
