.portfolio {
  background-color: var(--white-color);
  color: var(--grey-color);
  font-size: 16px;

  &__list--btn {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__btn {
    background-color: #f5f4fa;
    border: 0;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--black-text);
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, box-shadow;

    &:focus,
    &:hover {
      background-color: var(--blue-color);
      color: var(--white-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }

  &__item {
    max-width: 450px;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__image {
    display: block;
    max-width: 450px;
    width: 100%;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;

    &:hover .portfolio__overlay,
    &:focus .portfolio__overlay {
      transform: translatex(0);
      background-color: rgba(33, 150, 243, 0.9);
      color: var(--white-color);
    }
  }

  &__photo {
    position: relative;
    overflow: hidden;
    max-width: 450px;
    width: 100%;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    position: absolute;
    background-color: transparent;
    color: transparent;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(100%);
    top: 0;
    left: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, background-color;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      transform: translatex(0);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2;
    color: var(--black-text);
    margin-bottom: 4px;
    font-weight: 700;
  }

  &__info {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.03em;
    line-height: 1.88;
    padding: 20px 24px;
    border: 1px solid #ececec;
    border-top: none;
  }

  &__main {
    margin: 0 auto;
    padding-top: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

.btn-list {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .btn-list {
    max-width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio {
    &__list {
      justify-content: space-between;
      margin-top: 14px;
    }
    &__item {
      max-width: 354px;
    }
  }
  .info {
    padding: 20px 24px 56px 24px;
  }
}

@media (min-width: 1200px) {
  .portfolio {
    &__list {
      margin-top: 34px;
    }

    &__item {
      max-width: 370px;
    }
  }
  .info {
    padding: 20px 24px;
  }
}
