.team {
  background-color: #f5f4fa;
  font-size: 16px;
  text-align: center;
  color: var(--grey-color);
  line-height: 1.2;
  letter-spacing: 0.03em;

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 450px;
    width: 100%;
  }

  &__container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-weight: 500;
    color: var(--black-text);
    margin-bottom: 10px;
  }

  &__figure {
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__info {
    padding: 30px 0 24px 0;
  }

  &__list--social {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__icon {
    display: block;
    padding: 12px;
    font-size: 0;
    border-radius: 50%;
    color: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color;

    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--blue-color);
    }
  }
}

@media (min-width: 768px) {
  .team {
    &__list {
      max-width: 738px;
      width: 100%;
      justify-content: center;
    }

    &__container {
      max-width: 738px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

    &__item {
      max-width: 354px;
    }
  }
}

@media (min-width: 1200px) {
  .team {
    &__list {
      max-width: 1170px;
      width: 100%;
    }

    &__item {
      max-width: 270px;
    }

    &__container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
}
